$achievementListItem-imgSize: $_listItemHeight - ($_gutter * 2);

.achievementListItem {

	width: 100%;
	height: 100%;
	padding: $_gutter;
	box-sizing: border-box;
	display: flex;

	.imgHolder {
		width: $achievementListItem-imgSize;
		height: $achievementListItem-imgSize;
		margin: 0 $_gutter 0 0;
	}

	&__textContent {
		display: flex;
		flex-direction: column;
	}

	&__name {
		margin: 0 auto 0 0;
		font-size: $_fontSize-medium;
		font-weight: bold;
	}

	&__dateEarned {
		font-size: $_fontSize-small;
		color: $_lightOrange;
	}

}
