.button {

	display: flex;
	position: relative;

	&__label {
		margin: auto;
	}

	svg {
		margin: auto auto auto $_gutter-small;
		width: 50%;
		height: 50%;
	}

	&__disabledText {
		position: absolute;
		left: 0;
		bottom: 50%;
		transform: translateY(50%);
		width: 100%;
		background-color: $_black-mostlyOpaque;
		padding: $_gutter-small 0;
	}

	&--textPositionBottom {

		flex-direction: column-reverse;

		svg {
			margin: auto auto 0 auto;
		}

	}

	&:disabled {

		opacity: 1;
		background-color: $_black-almostTransparent;

		svg,
		.button__label {
			opacity: 0.2;
		}

	}

}
