.button {

	display: flex;

	span {
		margin: auto;
	}

	svg {
		margin: auto auto auto $_gutter-small;
		width: 50%;
		height: 50%;
	}

	&--textPositionBottom {

		flex-direction: column-reverse;

		svg {
			margin: auto auto $_gutter-small auto;
		}

	}

}
