.explore {

	&TopLevel {

		.button {
			margin: auto;
			width: 60vh;
			height: 60vh;
			max-width: calc(50vw - (#{$_gutter} * 2));
			max-height: calc(50vw - (#{$_gutter} * 2));
			font-size: $_fontSize-large;
			padding: $_gutter;
		}

	}

	&Categories {

		.list--grid > ul {
			width: $_contentWidth;
		}

		&Item {

			width: 100%;
			height: 100%;
			position: relative;

			& > .button {
				width: 100%;
				height: 100%;
				position: absolute;
				@include makeButtonTransparent;
				text-align: center;
				line-height: normal;
			}

		}

	}

}
