.explore {

	&TopLevel {

		.button {
			margin: auto;
			width: 60vh;
			height: 60vh;
			max-width: calc(50vw - (#{$_gutter} * 2));
			max-height: calc(50vw - (#{$_gutter} * 2));
			font-size: $_fontSize-large;
			padding: $_gutter;
		}

	}

	&Categories {

		.list--grid > ul {
			width: $_contentWidth;
		}

		&Item {
			display: flex;
		}

	}

}
