$home-feedMargin: 100% - $_contentWidth;

.home {

	padding: $_gutter 0 0;

	&__feed {

		width: 100%;
		height: 100%;
		margin: auto;

		.list__item {
			margin: 0 ($home-feedMargin / 2) $_gutter;
			width: $_contentWidth;
		}

	}

}
