.list {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	&__item {
		margin: 0 $_gutter $_gutter;
		width: calc(100% - (#{$_gutter} * 2));
		height: $_listItemHeight;
		border-radius: $_radius;
		background-color: $_white-mostlyTransparent;
		box-shadow: $_shadow;
	}

	&--showingPlaceholders {

		overflow: hidden;
		@include opacityPulse;

		.list__item {

			&:nth-child(1) {
				opacity: 0.8;
			}

			&:nth-child(2) {
				opacity: 0.6;
			}

			&:nth-child(3) {
				opacity: 0.5;
			}

			&:nth-child(4) {
				opacity: 0.4;
			}

			&:nth-child(5) {
				opacity: 0.3;
			}

			&:nth-child(6) {
				opacity: 0.2;
			}

			&:nth-child(7) {
				opacity: 0.1;
			}

		}

	}

	&-enter {

		opacity: 0;
		transform: translateY($_gutter);

		&-active,
		&-done {
			opacity: 1;
			transform: translateY(0);
			transition: opacity $_transitionTiming ease-in-out, transform $_transitionTiming ease-in-out;
		}

	}

	&-exit {

		&-active,
		&-done {
			opacity: 0;
			transition: opacity $_transitionTiming ease-in-out;
		}

	}

}
