$navBar-trophySize: calc(#{$_navBarHeight} - (#{$_gutter} * 2));

.navBar {

	width: 100%;
	height: $_navBarHeight;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;

	&__trophy {
		fill: $_orange;
		width: $navBar-trophySize;
		height: $navBar-trophySize;
		margin: $_gutter;
	}

	.dropdown {
		margin: auto 0;
	}

	&__links {
		display: flex;
	}

	&Item {

		display: flex;
		margin: 0 0 0 $_gutter;
		transition: opacity $_transitionTiming ease-in-out, transform $_transitionTiming ease-in-out;
		opacity: 0;
		transform: translateX(-$_gutter-small);

		&__name {
			margin: auto;
			padding: $_gutter;
		}

		&.navBar-enter {

			&-active,
			&-done {
				opacity: 1;
				transform: none;
			}

		}

	}

}
