@keyframes opacityPulse {

	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}

}

@keyframes backgroundFlash {

	0% {
		background-color: $_black-mostlyTransparent;
	}

	1% {
		background-color: $_white-semiOpaque;
	}

	100% {
		background-color: $_black-mostlyTransparent;
	}

}
